* {
    padding: 0%;
    margin: 0%;


}

.div3 {
    width: 100%;
}

.div4 {
    margin-top: 30px;
    padding: 50px 30px 40px 60px;
}



h2 {
    font-size: 30px;
    text-align: center;

}



video {
    width: 100%;

}

/* Egenskapen border-collapse CSS anger om celler inuti en <tabell> har delade eller separata gränser.  */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table,
td,
table,
th {
    border: 1px solid #ddd;
    padding: 20px;
}


thead:nth-child(1) {
    background-color: rgba(205, 218, 32, 0.753);
    /* Rubrik ska ha rgba(205, 218, 32, 0.753); färg */
}

tr:nth-child(2n-1) {
    background: rgba(0, 160, 255, 0.5) none repeat scroll 0 0;
    /* För att skapa en zebra-striped tabell, använde jag  nth-child() */
}

td:nth-child(2n) {
    background: rgba(255, 107, 0, 0.5) none repeat scroll 0 0;
    /*  zebra-striped vertikal*/
}

.table,
th,
td {
    border: 1px solid black;
    /* Egenskapen border-collapse CSS anger om celler inuti en <tabell> har delade eller separata gränser.  */
    border-collapse: collapse;
    font-size: 20px;
    /* Egenskapen text-align anger den horisontella justeringen av text i ett element. */
    text-align: center;

}

.table {

    width: 100%;
    height: 100%;

}





.more-info {
    /* Egenskapen text-align anger den horisontella justeringen av text i ett element. */
    text-align: center;
    border-radius: 5px;
    border-color: #000000;

}


.more-info h5 {
    font-size: 33px;
    /*  Om webbläsaren inte stöder det första teckensnittet, försöker den nästa teckensnitt.*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;




}

.more-info p {
    margin: 10px 0 40px;
    font-size: 14px;
}


.rubrik {
    text-align: center;
    margin-top: 40px;

}

.rubrik p {
    font-size: 20px;
    font-weight: 500;
}




.dokme {
    color: #000000;
    /* används för att ta bort understrykningen från länkar, */
    text-decoration: none;
    border: 1px solid #000000;
    padding: 13px 50px;
    font-size: 16px;



}

/* när användaren för muspekaren över den */
.dokme:hover {
    border: 1px solid #f5fdff;
    background: #113e63;
    transition: 1s;
    /* under en sekund */
}





.div8,
.div9 {
    margin-top: 40px;
    /* Egenskapen text-align anger den horisontella justeringen av text i ett element. */
    text-align: center;
}




h2 {
    margin-bottom: 50px;
    font-size: 20px;
    /* Egenskapen text-align anger den horisontella justeringen av text i ett element. */
    text-align: center;
    /*  Om webbläsaren inte stöder det första teckensnittet, försöker den nästa teckensnitt.*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





.div6,
.div7 {
    background-color: #000000;
    color: #578cb8;

}



footer {


    width: 100%;
    background-color: rgb(45, 142, 167);
    color: white;
    /* Egenskapen text-align anger den horisontella justeringen av text i ett element. */
    text-align: center;
    padding: 27px;

}




/* Jag använder Grid för att placera mina content i dem lockor jag har skapat */
.grid {
    display: grid;
    /* 6 st column */
    grid-template-columns: 20% 10% repeat(2, 20%) 10% 20%;
    /* 10st rad */
    grid-template-rows:  200px 672px 270px 800px 1fr 150px 200px 240px 73px;
    grid-column-gap: 20px;
    grid-row-gap: 17px;
}



.rubrik {
    grid-area: 1 / 3 / 2 / 5;
}

.div3 {
    grid-area: 2 / 2 / 3 / 6;
}

.div4 {
    grid-area: 3 / 2 / 4 / 6;
}

.tabel {
    grid-area: 4 / 3 / 5 / 5;
}

.mp4 {
    grid-area: 5 / 2 / 6 / 6;
}

.div8 {
    grid-area: 6 / 3 / 7 / 5;
}

.div9 {
    grid-area: 7 / 3 / 8 / 5;
}

.more-info {
    grid-area: 8 / 3 / 9 / 5;
}

footer {
    grid-area: 9 / 3 / 10 / 5; 
}

.div6 {
    grid-area: 1 / 6 / 10 / 7;
}

.div7 {
    grid-area: 1 / 1 / 10 / 2;
}








