* {
    padding: 0%;
    margin: 0%;

    
}

.div3{
    width: 100%;
}

.div4 {
    margin-top: 30px;
}



h2{
    font-size: 30px;
    text-align: center;
}




table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
table, td, table, th {
    border: 1px solid #ddd;
    padding: 20px;
  }


  thead:nth-child(1)
  {
      background-color: rgba(205, 218, 32, 0.753);
  }
  tr:nth-child(2n-1) {
    background: rgba(0, 160, 255, 0.5) none repeat scroll 0 0;
}
 td:nth-child(2n) {
    background: rgba(255, 107, 0, 0.5) none repeat scroll 0 0;
}
.table,th,td{
    border: 1px solid black; 
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
}

.table {
    
        width: 100%;
        height: 100%;
    
}





.more-info{

    text-align: center;
    border-radius: 5px;
    border-color: #000000;

}

.more-info h5{
    font-size: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}
.more-info p{
    margin: 10px 0 40px;
    font-size: 14px;
}


.rubrik {
    text-align: center;
    margin-top: 40px;

}
.rubrik p{
    font-size: 20px;
    font-weight: 590;
}




.dokme{
    display: inline-block;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;

}
.dokme:hover{
    border: 1px solid #f5fdff;
    background: #113e63;
    transition: 1s;
}


























.grid{
    display: grid;
    grid-template-columns: 20% 10% repeat(2, 20%) 10% 20%;
    grid-template-rows: 98px 200px 672px 170px 800px 1fr 250px 150px 300px 73px;
    grid-column-gap: 20px;
    grid-row-gap: 17px;
    }
    
    .header{ grid-area: 1 / 1 / 2 / 7; }
    .rubrik { grid-area: 2 / 3 / 3 / 5; }
    .div3 { grid-area: 3 / 2 / 4 / 6; }
    .div4 { grid-area: 4 / 2 / 5 / 6; }
    .tabel { grid-area: 5 / 3 / 6 / 5; }
    .mp4 { grid-area: 6 / 2 / 7 / 6; }
    .div8 { grid-area: 7 / 3 / 8 / 5; }
     .div9 { grid-area: 8 / 3 / 9 / 5; }
     .more-info { grid-area: 9 / 3 / 10 / 5; }
     .footer { grid-area: 10 / 1 / 11 / 7; }
     .div6 { grid-area: 2 / 6 / 10 / 7; }
.div7 { grid-area: 2 / 1 / 10 / 2; }



.div6, .div7 {
    background-color: #000000;
    color: #578cb8;
    margin-top: -17px;
    margin-bottom: -17px;
}



.footer  {
    
    


    width: 100%;
    background-color: rgb(45, 142, 167);
    color: white;
    text-align: center;
    padding-top: 27px ;
    
 }