* {
	padding: 0;
	margin: 0;
}

body {
	background-color: aliceblue;
	/*Det  kommer bara att få färget att fylla 100 % av elementetet */
	background-size: cover;
	/* Padding och border ingår i bredd och höjd: */
	box-sizing: border-box;
	/*  Om webbläsaren inte stöder det första teckensnittet, försöker den nästa teckensnitt.*/
	font-family: sans-serif;
}

.menu-bar {
	background-color: #2b2d32;
	text-align: center;
}

.menu-bar ul {
	/* använder flex */
	display: inline-flex;
	/* kommer inte att visas som en lista. */
	list-style: none;
	color: #fff;
}

.menu-bar ul li {
	width: 150px;
	margin: 20px;
	padding: 20px;
}

.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
}

/* när användaren för muspekaren över den */
.active,
.menu-bar ul li:hover {
	background-color: #4369be;
	border-radius: 7px;
}

.menu-bar .fa {
	margin-right: 8px;
}