* {
    margin: 0%;
    padding: 0%;
}





















.grid {
    display: grid;
    grid-template-columns: 25% repeat(2, 1fr) 25%;
    grid-template-rows: 98px 200px 150px 800px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .header { grid-area: 1 / 1 / 2 / 5; }
    .div2 { grid-area: 3 / 2 / 4 / 4; }
    .div3 { grid-area: 4 / 2 / 5 / 4; }